.icon_sort{
    color: #b19361;
    margin-bottom: 10px;
    text-decoration: none;
}

.icon_sort:hover{
    color: #b19361;
    margin-bottom: 10px;
    text-decoration: none;
}

.text-link{
    color: #b19361;
    font-size: 16px;
    text-decoration: none;
}

/* .box_login{
    position: relative;
}

.box_login::before{
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
} */